/* resets */
*, *::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* positioning and sizing the content wrapper */
.content-wrapper {
    position: relative;
    width: 100%;
    min-width: fit-content;
    height: 100%;
    padding: 2rem 0;
}

/* adding background image in content wrapper */
.content-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('cntower.jpg');
    background-size: cover;
    filter: grayscale(1);
}

/* decoration for main element */
main {
    position: relative;
    max-width: 85rem;
    min-width: fit-content;
    max-height: fit-content;
    padding: 4rem 2rem;
    margin: 0 auto;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 3rem;
}

.half-transparent-bg {
    background-color: rgba(245, 245, 220, .5);
}

.half-transparent-border {
    border: 2px solid rgba(245, 245, 220, .5);
}

.section-title {
    width: fit-content;
    height: fit-content;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
}


.assign-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 1rem 3rem;
    border-radius: .5rem;
    margin-bottom: 5rem;
}

/* for all images except for parts of CN Tower image */
img[alt='cn tower'] {
    width: 15rem;
    object-fit: cover;
}

/* for parts of CN Tower image */
img {
    height: 300px;
}







/* section classes */




/* three shapes */
.section-items { 
    display: flex;
    justify-content: space-between;
}

.section-item-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.oval {
    background-color: antiquewhite;
    overflow: hidden;
    border-radius: 50%;
}

.triangle {
   clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}

.gradient-wrapper {
    max-width: 35rem;
    height: 15rem;
}

.gradient-one {
    width: 25rem;
    height: 15rem;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 100%);
}

.gradient-two {
    width: 25rem;
    height: 15rem;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 100%);
}


svg {
    background-color: aqua;
}

/* this makes it easier to see with backgound image */
strong {
    color: blanchedalmond;
}

.words-on-image {
    width: 15rem;
    padding: 5rem 3rem;
    text-align: center;
}


/* classes for different formats section */

.jpeg {
    background-image: url('./cntower.jpeg');
    background-size: cover;
}

.gif {
    background-image: url('./cntower.gif');
    background-size: cover;
}

.png {
    background-image: url('./cntower.png');
    background-size: cover;
}